venv
notebooks/.ipynb_checkpoints/analysis-checkpoint.ipynb
notebooks/.ipynb_checkpoints/model-checkpoint.ipynb
src/.DS_Store
.vscode/settings.json
.DS_Store
notebooks/.ipynb_checkpoints/1-ms-eda-checkpoint.ipynb
notebooks/.ipynb_checkpoints/eda-checkpoint.ipynb
notebooks/.ipynb_checkpoints/data_cleaning-checkpoint.ipynb
